html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

form select {
    padding: 10px;
}

form input:focus {
    border: 1px solid blue;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.btn-submit {
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: green;
    color: white;
}

button:hover {
    transform: scale(1.05);
    transition: transform ease-in 0.1s;
}

.btn-clear {
    background-color: red;
    color: white;
}